@page
@model HiveOsRigsModel
@{
    ViewData["Title"] = "Hive OS Rig Settings";
    ViewData["CardTitle"] = "Configuration";
}
@using Kendo.Mvc.UI
@using RetroMikeMiningTools.DO
@using RetroMikeMiningTools.DTO
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()
<script>
    function groupsTemplate(groups) {
        var template = "<ul>";
        for (var i = 0; i < groups.length; i++){
            template += "<li>" + groups[i].Name + "</li>";
        }
        template += "</ul>";
        return template;
    }
    function wtmEndpointTemplate(WtmEndPoint) {
        if(WtmEndPoint){
            return WtmEndPoint.substring(0,10) + '...';
        }
        return '';
    }
</script>

<div class="k-card-header">
    <h4>Hive OS Rigs</h4>
    Configure the rigs that you want to use for coin switching and then select the row to set the coins for that rig
</div>
<div class="k-card-body">
    @(Html.Kendo().Grid<HiveOsRigConfig>
        ().Name("rigsGrid")
        .Selectable()
        .Sortable()
        .Editable()
        .Events(x => x.Change("handleRigSelection"))
        .ToolBar(toolbar=> {
            toolbar.Create();
            toolbar.Custom().Text("Import Hive OS Rigs").HtmlAttributes(new { id = "importRigs" });
        })
        .Columns(columns =>
        {
            columns.Bound(column => column.Name);
            columns.Bound(column => column.MiningMode).Width(200);
            columns.Bound(column => column.DonationAmount).Width(100);
            columns.Bound(column => column.PinnedTicker);
            columns.Bound(column => column.PinnedZergAlgo).ClientHeaderTemplate("Pinned ZergPool Algo");
            columns.Bound(column => column.WhatToMineEndpoint).ClientHeaderTemplate("WTM Endpoint").ClientTemplate("#=wtmEndpointTemplate(WhatToMineEndpoint)#");
            columns.Bound(column => column.Profit).ClientFooterTemplate("Profit: #=kendo.toString(sum,'c2')#");
            columns.Bound(column => column.Enabled);
            columns.Command(column =>
            {
                column.Edit();
                column.Destroy();
            }).Width(200);
        })
        .DataSource(ds => ds.Ajax()
        .Sort(x => x.Add("Name"))
        .Read(r => r.Url("/HiveOsRigs?handler=Read").Data("forgeryToken"))
        .Update(u => u.Url("/HiveOsRigs?handler=Update").Data("forgeryToken"))
        .Create(c => c.Url("/HiveOsRigs?handler=Create").Data("forgeryToken"))
        .Destroy(d => d.Url("/HiveOsRigs?handler=Destroy").Data("forgeryToken"))
        .Aggregates(aggregates =>
            {
                aggregates.Add(p => p.Profit).Sum();
            })
        .Model(m => {
            m.Id(id => id.Id);
            m.Field(x => x.DonationAmount).DefaultValue("1%").Editable(!Model.IsMultiUser);
            m.Field(x => x.PinnedTicker).DefaultValue("");
            m.Field(x => x.Profit).Editable(false);
        })
        )
    )
</div>
<div class="k-card-footer"></div>
    
    
<div id="coinContainer">
    <br />
    <div class="k-card-header">
        <h4>Rig Coins</h4>
        Configure the coins that you want the selected rig to switch between
    </div>
    <div class="k-card-body">
        @(Html.Kendo().Grid<HiveOsRigCoinConfig>
            ().Name("rigCoinsGrid")
            .Sortable()
            .Editable()
            .ToolBar(toolbar=> {
                toolbar.Create();
                toolbar.Custom().Text("Import Coins").HtmlAttributes(new { id = "importCoins" });
                toolbar.Custom().Text("Refresh Coins Hashrates from WTM").HtmlAttributes(new { id = "refreshHashrates" });
            })
            .Columns(columns =>
            {
                columns.Bound(column => column.Ticker);
                columns.Bound(column => column.HashRateMH).ClientHeaderTemplate("Hashrate (MH)");
                columns.Bound(column => column.Power);
                columns.Bound(column => column.Flightsheet).ClientTemplate("#: FlightsheetName ?? '' #");
                columns.Bound(e => e.Groups).ClientTemplate("#=groupsTemplate(Groups)#");
                columns.Bound(column => column.Enabled);
                columns.Bound(column => column.Profit).ClientHeaderTemplate("Approx Profit");
                columns.Command(column =>
                {
                    column.Edit();
                    column.Destroy();
                }).Width(200);
            })
            .DataSource(ds => ds.Ajax()
            .Sort(x => x.Add("Ticker"))
            .Read(r => r.Url("/HiveOsRigs?handler=ReadCoins").Data("forgeryToken"))
            .Update(u => u.Url("/HiveOsRigs?handler=UpdateCoins").Data("forgeryToken"))
            .Create(c => c.Url("/HiveOsRigs?handler=CreateCoins").Data("forgeryToken"))
            .Destroy(d => d.Url("/HiveOsRigs?handler=DestroyCoins").Data("forgeryToken"))
            .Model(m => {
                m.Id(id => id.Id);
                m.Field(o => o.Groups).DefaultValue(new List<LinkedGroup>());
                m.Field(x => x.Profit).Editable(false);
            })
            )
        )
    </div>
</div>
<div id="zergAlgoContainer">
    <br />
    <div class="k-card-header">
        <h4>ZergPool Algo's</h4>
        Configure the algo's that you want the selected rig to switch between
    </div>
    <div class="k-card-body">
        @(Html.Kendo().Grid<ZergAlgoConfig>
            ().Name("zergAlgoGrid")
            .Sortable()
            .Editable()
            .ToolBar(toolbar=> {
                toolbar.Create();
                //toolbar.Custom().Text("Import Coins").HtmlAttributes(new { id = "importCoins" });
            })
            .Columns(columns =>
            {
                columns.Bound(column => column.Algo);
                columns.Bound(column => column.HashRateMH).ClientHeaderTemplate("Hashrate (MH)");
                columns.Bound(column => column.Power);
                columns.Bound(column => column.Flightsheet).ClientTemplate("#: FlightsheetName ?? '' #");
                columns.Bound(e => e.Groups).ClientTemplate("#=groupsTemplate(Groups)#");
                columns.Bound(column => column.Enabled);
                columns.Bound(column => column.Profit).ClientHeaderTemplate("Approx Profit");
                columns.Command(column =>
                {
                    column.Edit();
                    column.Destroy();
                }).Width(200);
            })
            .DataSource(ds => ds.Ajax()
            .Sort(x => x.Add("Algo"))
            .Read(r => r.Url("/HiveOsRigs?handler=ReadZergAlgos").Data("forgeryToken"))
            .Update(u => u.Url("/HiveOsRigs?handler=UpdateZergAlgos").Data("forgeryToken"))
            .Create(c => c.Url("/HiveOsRigs?handler=CreateZergAlgos").Data("forgeryToken"))
            .Destroy(d => d.Url("/HiveOsRigs?handler=DestroyZergAlgos").Data("forgeryToken"))
            .Model(m => {
                m.Id(id => id.Id);
                m.Field(o => o.Groups).DefaultValue(new List<LinkedGroup>());
                m.Field(x => x.Profit).Editable(false);
            })
            )
        )
    </div>
</div>
<script>
    function forgeryToken() {
        return kendo.antiForgeryTokens();
    }

    function dataBindStarted(){
        //alert('started');
    }

    function dataBindCompleted(){
        //alert('completed');
    }

    function handleRigSelection(){
        $("#coinContainer").hide();
        $("#zergAlgoContainer").hide();
        var dataItem = this.dataItem(this.select());
        var miningMode = dataItem.MiningMode;
        if(miningMode != 4){ //4=ZergPoolProfitBasis
            $.ajax({
                url: "/HiveOsRigs?handler=HiveOsRowSelect",
                type: 'POST',
                data: {
                    Name: dataItem.Name,
                    Id: dataItem.Id,
                    WhatToMineEndpoint: dataItem.WhatToMineEndpoint
                },
                headers: {
                    RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (response) {    
                    $("#coinContainer").show();
                    $('#rigCoinsGrid').data('kendoGrid').dataSource.read();
                    $('#rigCoinsGrid').data('kendoGrid').refresh();
                    $("#rigCoinsGrid").show();
                },
                failure: function (response) {
                    $('#rigCoinsGrid').data('kendoGrid').dataSource.read();
                    $('#rigCoinsGrid').data('kendoGrid').refresh();
                    $("#rigCoinsGrid").hide();
                },
                error: function (response) {
                    $('#rigCoinsGrid').data('kendoGrid').dataSource.read();
                    $('#rigCoinsGrid').data('kendoGrid').refresh();
                    $("#rigCoinsGrid").hide();
                }
            });
        }else{
             $.ajax({
                url: "/HiveOsRigs?handler=HiveOsRowSelect",
                type: 'POST',
                data: {
                    Name: dataItem.Name,
                    Id: dataItem.Id,
                    WhatToMineEndpoint: dataItem.WhatToMineEndpoint
                },
                headers: {
                    RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (response) {    
                    $('#zergAlgoGrid').data('kendoGrid').dataSource.read();
                    $('#zergAlgoGrid').data('kendoGrid').refresh();
                    $("#zergAlgoGrid").show();
                    $("#zergAlgoContainer").show();
                },
                failure: function (response) {
                    $('#zergAlgoGrid').data('kendoGrid').dataSource.read();
                    $('#zergAlgoGrid').data('kendoGrid').refresh();
                    $("#zergAlgoGrid").hide();
                },
                error: function (response) {
                    $('#zergAlgoGrid').data('kendoGrid').dataSource.read();
                    $('#zergAlgoGrid').data('kendoGrid').refresh();
                    $("#zergAlgoGrid").hide();
                }
            });
        }
    }

    function refreshCoinGrid(e){
        $("#rigCoinsGrid").data("kendoGrid").bind("dataBound", onGridEdit(e));
    }

    function refreshZergAlgoGrid(e){
        $("#zergAlgoGrid").data("kendoGrid").bind("dataBound", onGridEdit(e));
    }

    function onGridEdit(e) {
        e.sender.one("dataBound", function (e) {
        e.sender.dataSource.read();
    });
}

    $(document).ready(function(){

        //$("#rigCoinsGrid").hide();
        $("#coinContainer").hide();
        $("#zergAlgoContainer").hide();
        $("#rigCoinsGrid").data("kendoGrid").bind("save", refreshCoinGrid);
        $("#zergAlgoGrid").data("kendoGrid").bind("save", refreshZergAlgoGrid);

        $("#importRigs").click(function (e) {
            e.preventDefault();
            $.ajax({
                    url: "/HiveOsRigs?handler=ImportHiveRigs",
                    type: 'POST',
                    headers: {
                        RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function (response) {                        
                        var grid = $("#rigsGrid").data("kendoGrid");
                        grid.dataSource.read();
                    },
                    failure: function (response) {
                        var grid = $("#rigsGrid").data("kendoGrid");
                        grid.dataSource.read();
                    },
                    error: function (response) {
                        var grid = $("#rigsGrid").data("kendoGrid");
                        grid.dataSource.read();
                    }
                });
        });

        $("#importCoins").click(function (e) {
            e.preventDefault();
            $.ajax({
                    url: "/HiveOsRigs?handler=ImportCoins",
                    type: 'POST',
                    headers: {
                        RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function (response) {                        
                        var grid = $("#rigCoinsGrid").data("kendoGrid");
                        grid.dataSource.read();
                    },
                    failure: function (response) {
                        var grid = $("#rigCoinsGrid").data("kendoGrid");
                        grid.dataSource.read();
                    },
                    error: function (response) {
                        var grid = $("#rigCoinsGrid").data("kendoGrid");
                        grid.dataSource.read();
                    }
                });
        });

        $("#refreshHashrates").click(function (e) {
            e.preventDefault();
            $.ajax({
                    url: "/HiveOsRigs?handler=RefreshHashrates",
                    type: 'POST',
                    headers: {
                        RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function (response) {                        
                        var grid = $("#rigCoinsGrid").data("kendoGrid");
                        grid.dataSource.read();
                    },
                    failure: function (response) {
                        var grid = $("#rigCoinsGrid").data("kendoGrid");
                        grid.dataSource.read();
                    },
                    error: function (response) {
                        var grid = $("#rigCoinsGrid").data("kendoGrid");
                        grid.dataSource.read();
                    }
                });
        });
    })
</script>
